# Eclipse
.classpath
.project
.settings/
.metadata/

# Maven
target/
*.log

# OS별 임시 파일
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iml

# Tomcat
.smarttomcat

# 플러그인 무시
/frontend/m4gi/cursor-talk-to-figma-mcp-main/

# vscode 관련 설정
/frontend/.vscode/
node_modules
