-- DB에 전체 캠핑장 개수 확인
SELECT COUNT(*) as total_campgrounds FROM campgrounds;

-- people=2 조건을 만족하는 캠핑장 개수
SELECT COUNT(DISTINCT c.campground_id) as filtered_count
FROM campgrounds c
LEFT JOIN campground_sites cs ON c.campground_id = cs.campground_id
WHERE cs.capacity >= 2;
