<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- MyBatis 설정파일 -->
  <configuration>
    <typeAliases>

      <typeAlias type="com.m4gi.dto.UserDTO" alias="UserDTO"/>
      <typeAlias type="com.m4gi.dto.admin.AdminCampgroundDTO" alias="AdminCampgroundDTO"/>
      <typeAlias type="com.m4gi.dto.CampgroundCardDTO" alias="CampgroundCardDTO"/>

    </typeAliases>
    
    <typeHandlers>
	  <package name="com.m4gi.handler"/>
	</typeHandlers>

    <mappers>

    </mappers>
  </configuration>

