<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- MyBatis 설정파일 -->
  <configuration>
    <settings>
      <!-- ✅ snake_case → camelCase 자동 매핑 허용 -->
      <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>

      <typeAlias type="com.m4gi.dto.UserDTO" alias="UserDTO"/>

    </typeAliases>


    <mappers>

    </mappers>
  </configuration>

