<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <!-- 자동 camelCase 매핑 설정 -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <!-- DTO 별칭 설정 -->
  <typeAliases>
    <typeAlias type="com.m4gi.dto.UserDTO" alias="UserDTO"/>
  </typeAliases>

  <!-- Mapper 등록 -->
  <mappers>
    <mapper resource="mapper/UserMapper.xml"/>
  </mappers>
  
</configuration>
