<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.m4gi.mapper.ReservationMapper">

  <insert id="insertReservation" parameterType="com.m4gi.dto.ReservationDTO">
    INSERT INTO reservations (
    reservation_id,
    provider_code,
    provider_user_id,
    reservation_site,
    reservation_date,
    end_date,
    reservation_status,
    total_price,
    checkin_time,
    checkout_time,
    qr_code,
    created_at,
    updated_at,
    total_people
    )
    VALUES (
    #{reservationId},
    #{providerCode},
    #{providerUserId},
    #{reservationSite},
    #{reservationDate},
    #{endDate},
    #{reservationStatus},
    #{totalPrice},
    #{checkinTime, jdbcType=VARCHAR},
    #{checkoutTime, jdbcType=VARCHAR},
    #{qrCode, jdbcType=VARCHAR},
    NOW(),
    NOW(),
    #{totalPeople}
    )
  </insert>

  <select id="existsReservationConflict" resultType="boolean" parameterType="map">
    SELECT EXISTS (
    SELECT 1
    FROM reservations
    WHERE reservation_site = #{siteId}
    AND reservation_status = 1
    AND (
    (reservation_date &lt;= #{endDate} AND end_date &gt;= #{startDate})
    )
    ) AS conflict
  </select>

  <select id="findByProvider" resultType="com.m4gi.dto.ReservationDTO">
    SELECT
    reservation_id     AS reservationId,
    reservation_date   AS reservationDate,
    end_date           AS endDate,
    reservation_site   AS reservationSite
    FROM reservations
    WHERE provider_code = #{providerCode}
    AND provider_user_id = #{providerUserId}
    ORDER BY reservation_date DESC
  </select>

  <!-- 로그인 유저의 예약 목록 + 캠핑장·사이트 이름·날짜 -->
  <select id="findReservationSummariesByUser"
          resultType="com.m4gi.dto.ReservationSummaryDTO">
    SELECT
    r.reservation_id   AS reservationId,
    cg.campground_name AS campgroundName,
    cs.site_name       AS siteName,
    r.reservation_date AS checkIn,
    r.end_date         AS checkOut
    FROM reservations r
    JOIN campground_sites cs ON r.reservation_site = cs.site_id
    JOIN campgrounds     cg ON cs.campground_id   = cg.campground_id
    WHERE r.provider_code    = #{providerCode}
    AND r.provider_user_id = #{providerUserId}
    ORDER BY r.reservation_date DESC
  </select>

<!--  환불-->
  <update id="updateReservationAsRefunded">
    UPDATE reservations
    SET
    reservation_status = 2,  -- 예: 2 = 취소됨
    refund_status = 2,       -- 예: 2 = 환불 완료
    cancel_reason = #{cancelReason},
    refunded_at = NOW(),
    updated_at = NOW()
    WHERE reservation_id = #{reservationId}
  </update>

  <select id="getReservationByReservationId" resultType="com.m4gi.dto.ReservationDTO">
    SELECT * FROM reservations WHERE reservation_id = #{reservationId}
  </select>






</mapper>
