<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.m4gi.mapper.SiteMapper">
    <select id="findSiteById" resultType="com.m4gi.dto.CampgroundSiteDTO">
        SELECT
        site_id AS siteId,
        site_name AS siteName,
        width_meters AS widthMeters,
        height_meters AS heightMeters,
        capacity,
        is_active AS isActive,
        zone_id AS zoneId
        FROM campground_sites
        WHERE site_id = #{siteId}
    </select>
</mapper>