<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.m4gi.mapper.UserMypageReservationsMapper">

    <select id="selectOngoingReservations" resultType="com.m4gi.dto.UserMypageReservationsDTO">
        SELECT *
<!--             r.reservation_id AS reservationId, -->
<!--             c.campground_name AS campgroundName, -->
<!--             c.addr_full AS addrFull, -->
<!--             r.reservation_date AS reservationDate, -->
<!--             r.end_date AS endDate, -->
<!--             r.total_price AS totalPrice, -->
<!--             r.reservation_status AS reservationStatus -->
        FROM
            campia_reservations r
        JOIN campia_campground_sites s ON r.reservation_site = s.site_id
        JOIN campia_campgrounds c ON s.campground_id = c.campground_id
        WHERE
            r.provider_code = #{providerCode}
            AND r.provider_user_id = #{providerUserId}
<!--             AND r.reservation_status = 1 예약취소도 함께 보이게 할 경우 주석, 예약중인 것만 보이게 할 경우 1로 지정-->
        ORDER BY r.reservation_date ASC
    </select>
</mapper>