<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.m4gi.mapper.UserMypageReservationsMapper">

    <select id="selectOngoingReservations" resultType="com.m4gi.dto.UserMypageReservationsDTO">
        SELECT 
            r.reservation_id AS reservationId,
            c.campground_name AS campgroundName,
            c.addr_full AS addrFull,
            c.campground_image AS campgroundImage,
            r.reservation_date AS reservationDate,
            r.end_date AS endDate,
            r.total_price AS totalPrice,
            r.reservation_status AS reservationStatus,
            r.checkin_status AS checkinStatus,
            r.total_people AS totalPeople,
            cz.zone_name AS zoneName,
            cz.zone_type AS zoneType,
            r.reservation_site AS reservationSite,
            r.cancel_reason AS cancelReason,    r.custom_reason AS customReason     FROM reservations r
        JOIN campground_sites cs ON r.reservation_site = cs.site_id
        JOIN campgrounds c ON cs.campground_id = c.campground_id
        JOIN campground_zones cz ON cs.zone_id = cz.zone_id
        WHERE r.provider_code = #{providerCode}
          AND r.provider_user_id = #{providerUserId}
          AND r.reservation_status = 1
          AND r.checkin_status = 1
          AND r.reservation_date >= CURDATE()
        ORDER BY r.reservation_date ASC
    </select>

    <update id="updateReservationCancel" parameterType="map"> UPDATE reservations
        SET 
            cancel_reason = #{cancelReason},
            custom_reason = #{customReason}, refund_status = #{refundStatus},
            requested_at = #{requestedAt},
            reservation_status = 2,
            updated_at = NOW()
        WHERE reservation_id = #{reservationId}
        AND provider_code = #{providerCode}       AND provider_user_id = #{providerUserId} </update>

    <select id="getCanceledReservations" resultType="com.m4gi.dto.UserMypageReservationsDTO">
        SELECT 
            r.reservation_id AS reservationId,
            c.campground_name AS campgroundName,
            c.campground_image AS campgroundImage,
            c.addr_full AS addrFull,
            r.reservation_date AS reservationDate,
            r.end_date AS endDate,
            r.total_price AS totalPrice,
            r.reservation_status AS reservationStatus,
            r.checkin_status AS checkinStatus,
            r.total_people AS totalPeople,
            cz.zone_name AS zoneName,
            cz.zone_type AS zoneType,
            r.reservation_site AS reservationSite,
            r.cancel_reason AS cancelReason,    r.custom_reason AS customReason     FROM reservations r
        JOIN campground_sites cs ON r.reservation_site = cs.site_id
        JOIN campgrounds c ON cs.campground_id = c.campground_id
        JOIN campground_zones cz ON cs.zone_id = cz.zone_id
        WHERE r.provider_code = #{providerCode}
          AND r.provider_user_id = #{providerUserId}
          AND r.reservation_status = 2      
        ORDER BY r.reservation_date DESC
    </select>

    <select id="findUserReservationsByDate" resultType="com.m4gi.dto.UserMypageReservationsDTO">
        SELECT
            r.reservation_id AS reservationId,
            c.campground_name AS campgroundName,
            c.addr_full AS addrFull,
            r.reservation_date AS reservationDate,
            r.end_date AS endDate,
            r.total_price AS totalPrice,
            r.reservation_status AS reservationStatus,
            r.checkin_status AS checkinStatus,
            r.total_people AS totalPeople,
            r.refund_status AS refundStatus,
            cz.zone_name AS zoneName,
            cz.zone_type AS zoneType,
            r.reservation_site AS reservationSite,
            c.campground_image AS campgroundImage,
            r.provider_code AS providerCode,
            r.provider_user_id AS providerUserId,
            r.cancel_reason AS cancelReason,    r.custom_reason AS customReason     FROM
            reservations r
        JOIN campground_sites cs ON r.reservation_site = cs.site_id
        JOIN campgrounds c ON cs.campground_id = c.campground_id
        JOIN campground_zones cz ON cs.zone_id = cz.zone_id
        WHERE
            r.reservation_date = #{targetDate}
            OR r.end_date = #{targetDate}
    </select>

    <select id="selectReservationAlerts" resultType="com.m4gi.dto.UserMypageReservationsDTO">
        SELECT 
            r.reservation_id AS reservationId,
            c.campground_name AS campgroundName,
            c.addr_full AS addrFull,
            r.reservation_date AS reservationDate,
            r.end_date AS endDate,
            r.total_price AS totalPrice,
            r.reservation_status AS reservationStatus,
            r.checkin_status AS checkinStatus,
            DATEDIFF(r.reservation_date, CURDATE()) AS daysLeft,
            r.provider_code AS providerCode,
            r.provider_user_id AS providerUserId
            -- r.cancel_reason AS cancelReason,    -- r.custom_reason AS customReason     FROM reservations r
        JOIN campground_sites cs ON r.reservation_site = cs.site_id
        JOIN campgrounds c ON cs.campground_id = c.campground_id
        WHERE r.provider_code = #{providerCode}
          AND r.provider_user_id = #{providerUserId}
          AND r.reservation_status IN (1) -- 예약 완료 상태 (취소되지 않은)
          AND r.reservation_date BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 3 DAY)
        ORDER BY r.reservation_date ASC
    </select>

    <select id="getCompletedReservations" resultType="com.m4gi.dto.UserMypageReservationsDTO">
        SELECT 
            r.reservation_id AS reservationId,
            c.campground_name AS campgroundName,
            c.campground_image AS campgroundImage,
            c.addr_full AS addrFull,
            r.reservation_date AS reservationDate,
            r.end_date AS endDate,
            r.total_price AS totalPrice,
            r.reservation_status AS reservationStatus,
            r.checkin_status AS checkinStatus,
            r.total_people AS totalPeople,
            cz.zone_name AS zoneName,
            cz.zone_type AS zoneType,
            r.reservation_site AS reservationSite,
            r.cancel_reason AS cancelReason,    r.custom_reason AS customReason     FROM 
            reservations r
        JOIN 
            campground_sites cs ON r.reservation_site = cs.site_id
        JOIN 
            campgrounds c ON cs.campground_id = c.campground_id
        JOIN 
            campground_zones cz ON cs.zone_id = cz.zone_id
        WHERE 
            r.provider_code = #{providerCode}
            AND r.provider_user_id = #{providerUserId}
            AND r.end_date &lt; CURDATE()
            AND r.reservation_status != 2
        ORDER BY 
            r.reservation_date DESC
    </select>
    
    <select id="selectReservationById" parameterType="string" resultType="com.m4gi.dto.UserMypageReservationsDTO">
        SELECT
            r.reservation_id AS reservationId,
            c.campground_name AS campgroundName,
            c.addr_full AS addrFull,
            r.reservation_date AS reservationDate,
            r.end_date AS endDate,
            r.total_price AS totalPrice,
            r.reservation_status AS reservationStatus,
            r.checkin_status AS checkinStatus,
            r.refund_status AS refundStatus,
            c.campground_image AS campgroundImage,
            cz.zone_name AS zoneName,
            cz.zone_type AS zoneType,
            r.reservation_site AS reservationSite,
            r.total_people AS totalPeople,
            r.cancel_reason AS cancelReason,    r.custom_reason AS customReason,    r.provider_code AS providerCode,
            r.provider_user_id AS providerUserId
        FROM reservations r
        JOIN campground_sites cs ON r.reservation_site = cs.site_id
        JOIN campgrounds c ON cs.campground_id = c.campground_id
        JOIN campground_zones cz ON cs.zone_id = cz.zone_id
        WHERE reservation_id = #{reservationId}
    </select>
    

</mapper>