<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.m4gi.mapper.UserMapper">

    <select id="findAllUsers" resultType="com.m4gi.dto.UserDTO">
        SELECT
        id AS userId,
        username,
        email,
        user_role AS role,
        user_status AS status
        FROM users
    </select>

    <update id="updateUserRole" parameterType="map">
        UPDATE users
        SET user_role = #{role}
        WHERE id = #{userId}
    </update>

    <update id="updateUserStatus" parameterType="map">
        UPDATE users
        SET user_status = #{status}
        WHERE id = #{userId}
    </update>
    
    <insert id="insertUser" parameterType="com.m4gi.dto.UserDTO">
	    INSERT INTO campia_user (kakao_id, email, username, nickname)
	    VALUES (#{kakaoId}, #{email}, #{username}, #{nickname})
	</insert>
	
	<select id="findByKakaoId" resultType="com.m4gi.dto.UserDTO">
	    SELECT * FROM campia_user WHERE kakao_id = #{kakaoId}
	</select>
	
	<select id="findByPhone" resultType="com.m4gi.dto.UserDTO">
	    SELECT * FROM campia_user WHERE phone = #{phone}
	</select>
	
	<update id="updatePhoneByKakaoId">
	    UPDATE campia_user SET phone = #{phone}
	    WHERE kakao_id = #{kakaoId}
	</update>
	
	  <!-- 신규 사용자 삽입 -->
	  <insert id="insertUser" parameterType="UserDTO">
	    INSERT INTO users (
	      provider_code, provider_user_id, email, nickname, profile_image,
	      phone, user_role, point, checklist_alert, reservation_alert, vacancy_alert
	    )
	    VALUES (
	      #{providerCode}, #{providerUserId}, #{email}, #{nickname}, #{profileImage},
	      #{phone}, #{userRole}, #{point}, #{checklistAlert}, #{reservationAlert}, #{vacancyAlert}
	    )
	  </insert>
	  
	  <select id="findByProvider" resultType="UserDTO">
	    SELECT *
	    FROM users
	    WHERE provider_code = #{providerCode}
	      AND provider_user_id = #{providerUserId}
	</select>

</mapper>
